<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="all-car-container">
        {% for car in all_cars %}
            <div>
                <h3>{{car.car_name}}</h3>
                <h3>{{car.car_capacity}}</h3>
                <a href="">
                    <span>View</span>
                </a>
            </div>
        {% endfor %}
    </div>
</body>
</html>