<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>All Cars</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="all-car-container">
            <table>
                <tr>
                    <th class="car-table-header">Car Name/Type</th>
                    <th class="car-table-header">Car's Capacity</th>
                    <th class="car-table-header">Car's Occupants</th>
    
                </tr>
                {% for car in all_cars %}
                    <tr class="car-table-row">
                        <td class="car-table-info">
                            <a href="/car/{{car.id}}/view/">
                                <span>{{car.car_name}}</span>
                            </a>
                        </td>
                        <td class="car-table-info">
                            <p>{{car.car_capacity}}</p>
                        </td>
                        <td class="car-table-info">
                            {% for passenger in car.passengers %}
                                <p>{{passenger.username}}</p>
                            {% endfor %}
                        </td>
                        
                    </tr>
                {% endfor %}
            </table>
        </div>
    </main>
    <footer>
        <foot>
            <div class="foot_container">
                <p>Countdown to Okee</p>
                <p id="countdown"></p>
            </div>
        </foot>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>