<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="car-form-container">
        <form action="/create/car/form/" method="post" id="car_form">
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <strong class="error-par">Hold Up, Chum</strong>
                    {% for message in messages %}
                        <p id="error-info">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <label>
                Car Type/Name:
                <input type="text" name="car_name" id="car_name">
            </label>
            <label>
                Car Capacity(Including the driver):
                <input type="number" name="car_capacity" id="car_capacity" min="2" max="10">
            </label>
                <input type="hidden" name="driver" value="{{logged_in_user.id}}">

            <input type="submit" value="Register" id="submit">
            
        </form>
    </div>
</body>
</html>