<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Dashboard</title>
</head>
<body class="dash-background">
    <header>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="dashboard-container">
            <h1>Edit Profile</h1>
            <h1>Welcome, {{logged_in_user.username}}</h1>
            <div class="edit-profile">
                <form action="/profile/update/" method="post" class="edit-profile-form">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="error-container">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <div class="error-back">
                                <p class="error-par">One Moment, I think there was an Error</p>
                                {% for message in messages %}
                                    <p class="error-info">{{message}}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% endwith %}
                    <label>
                        <span>Email:</span>
                        <input type="email" name="email" value="{{logged_in_user.email}}">
                    <label>
                    <label>
                        <span>Username:</span>
                        <input type="text" name="username" id="username" value="{{logged_in_user.username}}">
                    <label>
                    <input type="submit" value="Update" id="submit">
                </form>
            </div>
        </div>
    </main>
    <footer>
        <foot>
            <div class="foot_container">
                <p>Countdown to Okee</p>
                <p id="countdown"></p>
            </div>
        </foot>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html> 