<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Prohibited Items</title>
</head>
<body class="dash-background">
    <header>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="menu-container">
            <h1>Food List</h1>
            <div class="food-container">
                <div class="food-menu">
                    <h3>Thursday 3/2</h3>
                    <h5>Lunch</h5>
                    <p>•Humberto's Meat</p>
                    <p>•Churrasco Sandwiches</p>
                </div>
                <div class="food-menu">
                    <h3>Friday 3/3</h3>
                    <h5>Breakfast</h5>
                    <p>•Breakfest Burritos</p>
                    <h5>Lunch</h5>
                    <p>•Hamburgers/Impossible Burgers</p>
                </div>
                <div class="food-menu">
                    <h3>Saturday 3/4</h3>
                    <h5>Breakfast</h5>
                    <p>•Bagels, Eggs, Bacon, Sasuages</p>
                    <h5>Lunch</h5>
                    <p>•Walking Tacos</p>
                </div>
                <div class="food-menu">
                    <h3>Sunday 3/5</h3>
                    <h5>Breakfast</h5>
                    <p>•Pancakes/Hash</p>
                    <h5>Lunch</h5>
                    <p>•Fried Rice</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <foot>
            <div class="foot_container">
                <p>Countdown to Okee</p>
                <p id="countdown"></p>
            </div>
        </foot>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>