<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Lineup Promotion Image</title>
</head>
<body class="lineup-background">
    <header>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="dashboard-container">
            <img src="/static/img/OMF-LINEUP.png" alt="Lineup" id="lineup">
            <img src="/static/img/OKEE-MUSIC-MAP.png" alt="Lineup" id="music-map">
        </div>
    </main>
    <footer>
        <foot>
            <div class="foot_container">
                <p>Countdown to Okee</p>
                <p id="countdown"></p>
            </div>
        </foot>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>