<!DOCTYPE html>
<html lang="en">
<body>
    {% block menu %}
        <div class="left-nav">
            <a href="">
                <span>Cars</span>
            </a>
            <a href="">
                <span>Supplies</span>
            </a>
        </div>
        <div class="right-nav">
            <a href="">
                <span>Playlist</span>
            </a>
            <a href="/logout/" class="login-out">
                <span>Logout</span>
            </a>
        </div>
    {% endblock menu %}
</body>
</html>