<!DOCTYPE html>
<html lang="en">
<body>
    {% block menu %}
        <div class="left-nav">
            <div class="w3-dropdown-hover">
                <button class="w3-button w3-black">Cars</button>
                <div class="w3-dropdown-content w3-bar-block w3-border">
                    <a href="/all_cars/" class="w3-bar-item w3-button">All Cars</a>
                    <a href="" class="w3-bar-item w3-button">Join A Car</a>
                    <a href="/create/car/" class="w3-bar-item w3-button">Register as a Driver</a>
                </div>
            </div>
            <a href="">
                <span>Supplies</span>
            </a>
        </div>
        <div class="center-nav">
            <a href="/dashboard/">
                <span>Home</span>
            </a>
        </div>
        <div class="right-nav">
            <a href="">
                <span>Playlist</span>
            </a>
            <a href="/logout/" class="login-out">
                <span>Logout</span>
            </a>
        </div>
    {% endblock menu %}
</body>
</html>