<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>

    <div  id="login_container">
        <form action="/login/" method="post" id="login_reg_form">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <strong class="error-par">One Moment,I think there was an Error</strong>
                    {% for message in messages %}
                        <p id="error-info">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
                <label>
                    Email:
                    <input type="email" name="email">
                </label>
                <label>
                    Password:
                    <input type="password" name="password">
                </label>
                <input type="submit" value="Login" id="submit">

        </form>
    </div>
</body>
</html>