<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Login Form</title>
</head>
<body class="login_background">

    <header>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="login_container">
    
            <form action="/login/" method="post" id="login_reg_form">
    
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <strong class="error-par">One Moment,I think there was an Error</strong>
                        {% for message in messages %}
                            <p id="error-info">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
    
                    <label>
                        <span>Email:</span>
                        <input type="email" name="email">
                    </label>
                    <label>
                        <span>Password:</span>
                        <input type="password" name="password">
                    </label>
                    <input type="submit" value="Login" id="submit">
    
            </form>
        </div>
    </main>
    <footer>
        <foot>
            <div class="foot_container">
                <p>Countdown to Okee</p>
                <p id="countdown"></p>
            </div>
        </foot>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>