<!DOCTYPE html>
<html lang="en">
<body>
    {% block menu %}
    <div class="header_container">
        <div class="login_link">
            <a href="/register/form/" class="w3-bar-item w3-button w3-black">Register</a>
        </div>
        <div class="login_link w3-dropdown-hover">
            <button class="w3-button w3-black"><i class='fa fa-home'></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <a href="/dashboard/" class="w3-bar-item w3-button w3-black">Home</a>
                <a href="https://open.spotify.com/playlist/0LbeEDGrGizvgHYW9wD9e2?si=82b8bb5b4b644817" class="w3-bar-item w3-button w3-black">
                    <span>&#9836;</span>
                </a>
            </div>
        </div>
        <div class="login_link">
            <a href="/login/form/" class="w3-bar-item w3-button w3-black"> Login </a>
        </div>

    </div>
    {% endblock menu %}
</body>
</html>