<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Playlists</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="main-playlist-container">
            <div class="playlist-container">
                <div class="playlist-link">
                    <p>Our Okeechobee Playlist</p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0LbeEDGrGizvgHYW9wD9e2?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </div>
                <div class="playlist-link">
                    <p>Official Okeechobee Playlist</p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1S9KNuJwPuAGuEqk4XDnVq?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <foot>
            <div class="foot_container">
                <p>Countdown to Okee</p>
                <p id="countdown"></p>
            </div>
        </foot>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>