<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Register Form</title>
</head>
<body class="login_background">
    
    <header>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="login_container">
            <form action="/register/" method="post" id="login_reg_form">
                <h1>Registration</h1>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="error-container">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <div class="error-back">
                            <p class="error-par">One Moment, I think there was an Error</p>
                            {% for message in messages %}
                                <p class="error-info">{{message}}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% endwith %}
                <label>
                    <span>Username:</span>
                    <input type="text" name="username" id="username">
                </label>
                <label>
                    <span>Email:</span>
                    <input type="email" name="email" id="email">
                </label>
                <label>
                    <span>Password:</span>
                    <input type="password" name="password" id="password">
                </label>
                <label>
                    <span>Confirm Password:</span>
                    <input type="password" name="confirm_password" id="confirm_password">
                </label>
                <input type="submit" value="Register" id="submit">
                
            </form>
    
        </div>
    </main>
    <footer>
        <foot>
            <div class="foot_container">
                <p>Countdown to Okee</p>
                <p id="countdown"></p>
            </div>
        </foot>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>