<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Rule List</title>
</head>
<body class="dash-background">
    <header>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="rules-container">
            <div class="rules-top">
                <h1>Rules</h1>
                <p>Here is a condensed list of the Rules</p>
                <p>If you want consult the actual List</p>
                <a href="https://www.okeechobeefest.com/guide/" class="">Click Here</a>
            </div>
            <div class="rules-list">
                <div class="rule-time">
                    <h2>Timings</h2>
                    <p>Camping Check-in is at 9am on the 2nd.</p>
                    <p>And the Check-out will be on Monday, March 6.</p>
                </div>
                <div class="rule-alcohol">
                    <h2>Alcohol</h2>
                    <p>Any Excess Bottles will be confiscated and dispoded of.</p>
                    <div class="rule-alcohol-individual">
                        <h5>Per Individual</h5>
                        <p>Your allowed either,</p>
                        <p>24(12oz) case of beer under 16% ABV</p>
                        <p>OR</p>
                        <p>up to 5L of wine</p>
                    </div>
                    <div class="rule-alcohol-car">
                        <h5>Per Car</h5>
                        <p>1.75L of hard liquor in a plastic bottle.</p>
                    </div>
                </div>
                <div class="rule-medication">
                    <h2>Medication</h2>
                    <p>Anything with a prescription will be allowed in.</p>
                    <p>Proof will need to be shown.</p>
                    <p>Medical Marijuana is NOT allowed, even with a medical card.</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <foot>
            <div class="foot_container">
                <p>Countdown to Okee</p>
                <p id="countdown"></p>
            </div>
        </foot>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>