<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>View Car</title>
</head>
<body class="car-background">
    <header>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>

        <div class="view-car-container">
            <div class="view-car">
                <div class="view-car-top">
                    <h1>{{vessel.car_name}}</h1>

                    {% if logged_in_user.id == vessel.driver %}
                        <a href="/car/{{vessel.id}}/delete/" class="edit-car">
                            <span>Delete</span>
                        </a>
                    {% endif %}
                    <div class="car-info">
                        <p># of seats:</p>
                        <p>{{vessel.car_capacity}}</p>
                    </div>
                </div>

                <div class="car-view-forms">
                    <div class="car-members">
                        <h1>Occupants</h1>
                    {% for passenger in vessel.passengers %}
                    <div class="passengers">
                        <p>{{passenger.username}}</p>
                        {% if logged_in_user.id == passenger.id %}
                            <a href="/car/{{vessel.id}}/leave" class="edit-car">Leave</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                    </div>
                
                    {% if vessel.passengers|length < vessel.car_capacity %}
                    <form action="/join/{{vessel.id}}/form/" method="post" id="join-car-form">
                        
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <strong class="error-par">Hold Up, Chum</strong>
                                {% for message in messages %}
                            </div>
                            </div>
                                    <p id="error-info">{{message}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
    
                        <label>
                            <input type="submit" value="Join" id="join-car">
                        </label>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <footer>
        <foot>
            <div class="foot_container">
                <p>Countdown to Okee</p>
                <p id="countdown"></p>
            </div>
        </foot>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>