<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>View Car</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'logged_in_menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>

        <div class="view-car-container">
            
                <div class="view-car-top">
                    <h1>{{vessel.car_name}}</h1>
                    {% if logged_in_user.id == vessel.driver %}
                        <a href="/car/{{vessel.id}}/delete/">
                            <span>Delete</span>
                        </a>
                    {% endif %}
                    <h3>{{vessel.car_capacity}}</h3>
                </div>
                    <div class="car-view-forms">
                        {% for passenger in vessel.passengers %}
                            <p>{{passenger.username}}</p>
                            {% if logged_in_user.id == passenger.id %}
                                <a href="/car/{{vessel.id}}/leave">Leave</a>
                            {% endif %}
                        {% endfor %}
        
                        {% if vessel.passengers|length < vessel.car_capacity %}
                        <form action="/join/{{vessel.id}}/form/" method="post">
                            
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <strong class="error-par">Hold Up, Chum</strong>
                                    {% for message in messages %}
                                </div>
                                </div>
                                        <p id="error-info">{{message}}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
        
                            <label>
                                <input type="submit" value="Join">
                            </label>
                        </form>
                        {% endif %}
                    </div>
            
        </div>
    </main>
    <footer>
        <foot>
            <div class="foot_container">
                <p>Countdown to Okee</p>
                <p id="countdown"></p>
            </div>
        </foot>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>