
/* &&&&&&&&&&&&&&&&&&&&&&&& Universal &&&&&&&&&&&&&&&&&&&&&&&&&&&& */

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}
nav{
    width: 100%;
    margin: 0px;
    background: url(/static/img/Okee_passes.jpg) no-repeat center;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
}
.nav{
    display: flex;
    flex-direction: column;
    width: auto;
    border: 1.5px solid black;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
    padding: 10px;
    margin: 0px;
}
.header_container{
    display: flex;
    width: auto;
    padding: 10px;
    margin: 0px;
    flex-direction: column;
    border: 2px solid black;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
#menu-avatar{
    margin: 20px;
    border-radius: 50%;
    width: 100px;
    border: 2px solid black;
    position: relative;
}
.time_container{
    width: 100%;
    text-align: center;
}
#countdown{
    font-size: 15px;
    font-weight: 600;
}
.time_container #countdown{
    font-size: 20px;
    margin: 0;
    margin-bottom: 25px;
}
.foot_container{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: url(/static/img/Okee_passes.jpg) no-repeat center;
    background-size: cover;
    border: 1.5px solid black;
    box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.364), 0 -17px 50px 0 rgba(0, 0, 0, 0.216);
}
.top-nav{
    display: flex;
    justify-content: space-between;
}
.bottom-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
main{
    margin:3vw;
    margin-top: 150px;
}
.login_link{
    display: flex;
    padding: 6px;
    border-radius: 10%;
    background-color: black;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}

/* &&&&&&&&&&&&&&&&&&&&&&&& FormErrors &&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.error-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 35%;
    background-color: #69ddfd;
}
.closebtn{
    float: right;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover{
    color: black;
}
.error-back{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(234, 107, 16);
    padding: 10px;
    border-radius: 20%;
}
.error-par{
    display: flex;
    padding: 0px;
    margin: 0px;
}
.error-info{
    display: flex;
    padding: 0px;
    margin: 0px;
}

/* &&&&&&&&&&&&&&&&&&&&&&&& Index/User &&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.login_background{
    background-color: #e2a5f5;
}
.welcome-div{
    display: flex;
    justify-content: center;
    margin-top: 230px;
}
.welcome_title{
    display: flex;
    flex-direction: column;
    padding: 4vw;
    margin: 20px;
    width: auto;
    background: url(/static/img/okee_background.jpg)  center top;
    background-size: cover;
    border-radius: 40%;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
.welcome_title h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 34%;
    border: 2px solid black;
}
#Okee_img{
    border-radius: 50%;
    width: 245px;
    border: 2px solid black;
}
.login_container{
    display: flex;
    margin: 10px;
    margin-bottom: 100px;
    width: auto;
    justify-content: center;
}
#login_reg_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border-radius: 10%;
    padding: 7vw;
    padding-bottom: 20px;
    padding-top: 0px;
    margin: 5vw;
    margin-top: 0px;
    background: url(/static/img/okee_background.jpg) no-repeat center;
    background-size: cover;
    border: 2px solid black;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
#login_reg_form h1{
    padding: 5px;
    background-color: #e2a5f5;
    border-radius: 34%;
    align-items: center;
    display:flex;
    border: 2px solid black;
}
#login_reg_form label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login_reg_form span{
    font-size: 12px;
    padding: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
}
#login_reg_form input{
    display: flex;
    justify-content: center;
    margin: 4px;
    padding: 4px;
    text-align: center;
    font-size: 16px;
    border-radius: 23%;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
#submit{
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
    background-color: rgb(211 248 130);
}
#submit:hover{
    background-color: #e2a5f5;
    border: 2px solid rgb(90, 214, 255);
}
#edit-profile{
    display: flex;
    margin: 10px;
    width: auto;
    justify-content: center;
}
#edit-profile-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border-radius: 10%;
    padding: 7vw;
    padding-bottom: 20px;
    padding-top: 0px;
    margin: 5vw;
    margin-top: 0px;
    background: url(/static/img/okee_background.jpg) no-repeat center;
    background-size: cover;
    border: 2px solid black;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
#edit-profile-form h1{
    padding: 5px;
    background-color: #e2a5f5;
    border-radius: 34%;
    align-items: center;
    display:flex;
    border: 2px solid black;
}
#edit-profile-form label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#edit-profile-form span{
    font-size: 12px;
    padding: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
}
#edit-profile-form input{
    display: flex;
    justify-content: center;
    margin: 4px;
    padding: 4px;
    text-align: center;
    font-size: 16px;
    border-radius: 23%;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
#delete{
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
    background-color: rgb(211 248 130);
    border-radius: 23%;
    text-decoration: none;
}
#delete:hover{
    background-color: #ef2457;
    border: 2px solid #ef2457;
}

/* &&&&&&&&&&&&&&&&&&&&&&&& Gear &&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.gear-background{
    background-color: #e2a5f5;
}
.all-gear-container{
    display: flex;
    justify-content: center;
    width: auto;
    margin: 10px;
    margin-bottom: 100px;
}
.all-gear-container table{
    border-radius: 10%;
    padding: 7vw;
    background: url(/static/img/okee_background.jpg) no-repeat center;
    background-size: cover;
    border: 2px solid black;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
.gear-table-header{
    background-color: #e2a5f5;
    border-radius: 15%;
    font-size: 18px;
    padding: 6px;
}
.gear-table-row{
    background-color: white;
}
.gear-table-info{
    margin: 10px;
    background-color: white;
    border-radius: 15%;
    font-size: 15px;
}
.gear-table-info a{
    background-color: #4cccf0;
    border: 2px solid black;
    padding: 4px;
    border-radius: 30%;
}
.gear-table-info a:hover{
    background-color: rgb(211 248 130);
}
.view-gear-container{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.view-gear{
    background-color: rgb(90, 214, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10%;
    width: 80%;
    background: url(/static/img/okee_background.jpg) no-repeat center;
    background-size: cover;
}
.view-gear-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.view-gear-top h1{
    font-size: 25px;
    padding: 5px;
    background-color: #e2a5f5;
    border-radius: 20%;
    border: 2px solid black;
    margin-bottom: 5px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gear-info{
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    border-radius: 25%;
    background-color: rgba(239, 236, 78, 0.749);
    width: 100%;
    border: 2px solid black;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
.view-gear-top p{
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.gear-view-forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.gear-view-forms span{
    padding: 10px;
    background-color: #e2a5f5;
    border-radius: 34%;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
    border: 2px solid black;
}
.gear-view-forms span:hover{
    background-color: #ef2457;
}
.gear-form-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
#gear_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(90, 214, 255);
    border-radius: 10%;
    padding: 5vw;
    padding-top: 0px;
    margin: 0vw;
    margin-top: 0px;
    background: url(/static/img/okee_background.jpg) no-repeat center;
    background-size: cover;
    border: 2px solid black;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
#gear_form h1{
    /* font-size: 4vh; */
    font-size: 25px;
    padding: 5px;
    /* background-color: rgb(255, 255, 255); */
    background-color: #e2a5f5;
    border-radius: 34%;
    align-items: center;
    display:flex;
    border: 2px solid black;
}
#gear_form label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gear_form span{
    font-size: 12px;
    padding: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
}
#gear_form input{
    display: flex;
    justify-content: center;
    margin: 4px;
    padding: 4px;
    font-size: 16px;
    text-align: center;
    border-radius: 23%;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
#gear-submit{
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
    background-color: rgb(211 248 130);
}
.small-band{
    width: 30%;
}
#small-band{
    display: flex;
    justify-content: center;
}

/* &&&&&&&&&&&&&&&&&&&&&&&& Car &&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.car-background{
    background-color: #e2a5f5;
}
.car-form-container{
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#car_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(90, 214, 255);
    border-radius: 10%;
    padding: 5vw;
    padding-top: 0px;
    margin: 0vw;
    margin-top: 0px;
    background: url(/static/img/okee_background.jpg) no-repeat center;
    background-size: cover;
    border: 2px solid black;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
#car_form h1{
    /* font-size: 4vh; */
    font-size: 25px;
    padding: 5px;
    /* background-color: rgb(255, 255, 255); */
    background-color: #e2a5f5;
    border-radius: 34%;
    align-items: center;
    display:flex;
    border: 2px solid black;
}
#car_form label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#car_form span{
    font-size: 12px;
    padding: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
}
#car_form input{
    display: flex;
    justify-content: center;
    margin: 4px;
    padding: 4px;
    font-size: 16px;
    text-align: center;
    border-radius: 23%;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
#cool-guy{
    width: 60%;
}
#cool-guy-div{
    display: flex;
    justify-content: center;
}
#car-submit{
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
    background-color: rgb(211 248 130);
}
.all-car-container{
    display: flex;
    justify-content: center;
    width: auto;
    margin: 10px;
    margin-bottom: 100px;
}
.all-car-container table{
    border-radius: 10%;
    padding: 7vw;
    background: url(/static/img/okee_background.jpg) no-repeat center;
    background-size: cover;
    border: 2px solid black;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
.car-table-header{
    background-color: #e2a5f5;
    border-radius: 15%;
    font-size: 18px;
    padding: 6px;
}
.car-table-row{
    background-color: white;
}
.car-table-info{
    margin: 10px;
    background-color: white;
    border-radius: 15%;
    font-size: 15px;
}
.car-table-info a{
    background-color: #4cccf0;
    border: 2px solid black;
    padding: 4px;
    border-radius: 30%;
}
.car-table-info a:hover{
    background-color: rgb(211 248 130);
}
.view-car-container{
    /* background-color: rgb(90, 214, 255); */
    display: flex;
    justify-content: center;
    width: auto;
    margin: 10px;
    margin-bottom: 100px;
}
.view-car{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    background: url(/static/img/okee_background.jpg) no-repeat center;
    background-size: cover;
    border: 2px solid black;
    border-radius: 10%;
    padding: 7vw;
    padding-top: 10px;
}
.view-car-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.view-car-top h1{
    font-size: 25px;
    padding: 5px;
    background-color: #e2a5f5;
    border-radius: 20%;
    border: 2px solid black;
    margin-bottom: 5px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.car-info{
    display: flex;
    color: rgb(90, 214, 255);
    flex-direction: column;
    align-items: center;
    background-color: rgb(113, 108, 105);
    border: 1px solid black;
    padding: 2px;
    border-radius: 10%;
    margin-bottom: 5px;
}
.view-car-top p{
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.edit-car{
    text-decoration: none;
    background-color: rgb(90, 214, 255);
    color: black;
    padding: 7px;
    border-radius: 34%;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
    border: 2px solid black;
}
.edit-car:hover{
    background-color: #ef2457;
    border: 2px solid rgb(90, 214, 255);
}
.car-view-forms{
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    border-radius: 25%;
    background-color: rgba(239, 236, 78, 0.749);
    border: 2px solid black;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
}
.car-members{
    display: flex;
    flex-direction: column;
}
.car-members h1{
    font-size: 25px;
    text-decoration: underline;
}
.passengers{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.passengers p{
    /* color: #e2a5f5; */
    color: black;
    padding: 5px;
}
#join-car-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#join-car{
    padding: 10px;
    background-color: #e2a5f5;
    border-radius: 34%;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.364), 0 17px 50px 0 rgba(0, 0, 0, 0.216);
    border: 2px solid black;
}

/* &&&&&&&&&&&&&&&&&&&&&&&& DashBoard &&&&&&&&&&&&&&&&&&&&&&&&&&&& */

#lineup{
    width: 100%;
    margin-top: 15px;
}
.lineup-background{
    background-color: #e2a5f5;
}
#campground{
    width: 80%;
    border-radius: 20%;
    margin-top: 15px;
    margin-bottom: 100px;
    border: 2px solid black;
}
.campground-background{
    background-color: #e2a5f5;
}
.dashboard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.dashboard-container h1{
    margin-bottom: 0px;
    font-size: 35px;
    padding: 8px;
    background-color: #e2a5f5;
    border-radius: 34%;
    border: 2px solid black;
}
.dash-background{
    background-color: rgb(90, 214, 255);
}
#avatar{
    margin: 3px;
    border-radius: 50%;
    width: 314px;
    border: 2px solid black;
    position: relative;
}
.playlist-background{
    background-color: #e2a5f5;
}
.main-playlist-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playlist-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
.playlist-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.playlist-link p{
    font-size: 16px;
    padding: 5px;
    /* background-color: rgb(90, 214, 255); */
    background-color: white;
    border-radius: 34%;
    align-items: center;
    display:flex;
    border: 2px solid black;
}

/* &&&&&&&&&&&&&&&&&&&&&&&& UnRegistered &&&&&&&&&&&&&&&&&&&&&&&&&&&& */









